/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #453025 url("images/christmas-background-2.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 1349px 629px; */
}
h1 {
     color: black;
}






/******************************************
/* LAYOUT
/*******************************************/

a {
  justify-content: center;
  width: 100%;
}

img {
  width: 55%;
  margin-top: 15px;
}

button {
  background-color: #ffffff00;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 40px;
  /* font-weight: ; */
  text-align: center;
  margin-top: 58px;
}

.homeButtons {
  text-align: center;
}

.homeButtons a:first-child {
  padding-right: 40px;
}

.randomiseButtons {
  text-align: center;
}

.reset {
  width: 20%;
  margin-left: 33px;
  margin-top: -20px;
}

.logo {
  margin-left: -1px;
}

.logoHome {
  justify-content: center;
}

.oddsButton {
  text-align: end;
}

.oddsButton button {
  border: none;
  color: transparent;
}

.results {
  display: flex;
  justify-content: space-evenly;
  margin-right: 30px;
  margin-left: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Loading Bar */

/* *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #333;
  color: #fff;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.progressbar {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 72px auto 0;
  height: 50px;
  background: #ffffff25;
  overflow: hidden;
  border-radius: 9px;
}

.counter {
  display: none;
}

span.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #12159e;
  background: repeating-linear-gradient(
  -45deg,
  red,
  red 30px,
  white 30px,
  white 60px
  );
  transition: all .3s;
}


/* Candy cane loading bar */

/* .bodyAnimate {
  background-color: #fafafa00;
  animation: color 7200s linear 1;
}
.candyAnimate {
  overflow: hidden;
  display: flex;
  opacity: 0;
  margin: calc(20vh - 150px) auto 0 auto;
  width: 100px;
  height: 300px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fafafa00;
  box-shadow: 40px 20px 15px -30px rgba(255, 0, 0, 0.1);
  transform: rotate(90deg);
  animation: PARTY 8s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1;
}
.candyLoaderAnimate {
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  align-self: flex-end;
  box-shadow: 0px 0px 10px rgba(255, 50, 0, 0.8) inset;
  background: #d33144;
  background: repeating-linear-gradient(45deg, #ffe, #ffe 15px, #d33144 15px, #d33144 30px);
  animation: load 8s ease-in 1;
} */
.candyLoaderAnimate::after {
  content: "";
  background-color: #fafafa00;
  width: 50px;
  /* NEED TO ADJUST THIS TO WHATEVER SIZE THE SCREEN IS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  height: 230px; 
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  align-self: flex-end;
  animation: color 7200s linear 1;
}
.candyLoaderAnimate::before {
  content: "";
  background-color: #fafafa00;
  width: 25px;
    /* NEED TO ADJUST THIS TO WHATEVER SIZE THE SCREEN IS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  height: 180px;
  display: flex;
  align-self: flex-end;
  animation: color 7200s linear 1;
}
@keyframes load {
  0% {
    height: 0%;
 }
  50% {
    height: 100%;
 }
}
@keyframes PARTY {
  5% {
    opacity: 1;
 }
  50% {
    transform: rotate(90deg) scale(1);
 }
  60% {
    transform: rotate(-10deg) scale(1);
 }
  70% {
    transform: rotate(20deg) scale(1);
 }
  80% {
    transform: rotate(-10deg) scale(1);
 }
  90% {
    transform: rotate(30deg) scale(1);
    opacity: 1;
 }
  100% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
 }
}
@keyframes color {
  0.0611% {
    background-color: #fafafa;
 }
 0.0633% {
    background-color: #31d354;
 }
  100% {
    background-color: #31d354;
 }
}

