/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/******************************************
/* BASE STYLES
/*******************************************/
@font-face {
  font-family: sage;
  src: url("Sage-Font/Sage.otf") format('opentype');
  font-weight: normal;
}

body {
  background: #453025 url("images/christmas-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sage;
  font-weight: bold;
}

h1, h2, label {
     color: white;
}

h1 {
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

a {
  justify-content: center;
  width: 100%;
}

img {
  width: 55%;
  margin-top: 15px;
}

button {
  background-color: #ffffff00;
  border: 3.5px solid #ffffff;
  border-radius: 5px;
  color: white;
  padding: 15px 23px;
  text-align: center;
  font-size: 39px;
  text-align: center;
  margin-top: 50px;
}

.homeButtons {
  text-align: center;
}

.homeButtons a:first-child {
  padding-right: 40px;
}

.randomiseButtons {
  text-align: center;
  margin-top: 15px;
}

.reset {
  width: 20%;
  margin-left: 33px;
  margin-top: -20px;
}

.reset button {
  font-size: 25px;
  padding: 10px 15px;
}

.logo {
  width: 55%;
  margin-left: -1px;
}

.smaller {
  width: 44%;
  margin-left: 72px;
}

.logoHome {
  justify-content: center;
}

.oddsButton {
  text-align: end;
}

.oddsButton button {
  border: none;
  color: transparent;
  margin-top: 113px;
}

.results {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
}

#fruitResult, #crumbResult, #toppingResult {
  padding: 15px 15px;
}

#fruitSubmit, #crumbSubmit, #toppingSubmit, .home {
  border: 2px solid white;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.home {
  text-align: center;
  margin-top: 0;
}

.oddsSection {
  margin: 0 0 0 10px;
}

.blinking {  
  border: 3.5px solid white;
  border-radius: 5px;
  animation-name: blinking;
  animation-duration: 0.65s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  50% {
    border-color: rgb(252, 171, 171);
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.progressbar {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 72px auto 0;
  height: 50px;
  background: #ffffff25;
  overflow: hidden;
  border-radius: 9px;
}

.counter {
  display: none;
}

span.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #12159e;
  background: repeating-linear-gradient(
  -45deg,
  red,
  red 30px,
  white 30px,
  white 60px
  );
  transition: all .3s;
}
